h1{
    font-family:'Courier New', Courier, monospace;
    padding: 0;
    margin: 20;
    font-size: xx-large;

    color: grey;
}

div.top{
    height: 180vh;
    width: 102%;
    background-image: url(../dds/MADIGANSTUDIOS_BEHR_CSCCOLLATERALREFRESH_HOMEOFFICE_008-1-scaled.jpg);
    background-size: cover;
    background-position: center;
}

div.top nav {
    font-family:'Courier New', Courier, monospace;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

span{
    color:brown;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: xx-large;
}

nav ul a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}

nav ul a:hover{
    color:brown;
    transition: .4s;
}

.abc{
    background-color:brown;
    color:black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.abc:hover{
    transform: scale(1.2);
}

.content{
font-family:'Courier New', Courier, monospace;
font-size:large;
color:black;  
position: relative;
top:20%;
left:8%;
transform:translateY(-50%) ;  
}

.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}


.newsletter form input:first-child{
    display: inline-block;
    width: 61%;
    padding: 14px 130px 14px 15px;
    border: 2px solid brown;
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: brown;
    color:black;
    box-shadow: 0px 0px 5px black, 0px 0px 15px grey;
    top:6px;
    right:6px;
}

.about{
    color:brown;
}

.main h2{
    color:gray;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
h5{
    font-size: larger;
    color:cornsilk ;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.main p{
    font-size: larger;
    color: black;
}

button{
    background-color:cornsilk;
    color:gray;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: cornsilk;
    border: 2px solid brown;
    cursor: pointer;
}

.aaaa{
    color: black;
    width: 100%;
    height: 290px;
    display: flex;  
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.aaaa{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.aaaa .button-two{
    
background-color: brown;
color: black;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 13px 30px;
border-radius: 30px;
transition: .4s;

}
.aaaa .button-two:hover{
    background-color: transparent;
    border: 2px solid brown;
    cursor: pointer;
}
.vvv p{
    color: black;
}
.main p{
    color:sienna;
    font-weight: bolder;
}

.iii p{
    color:chartreuse;
    font-weight: bold;
    font-size: larger;
}

.bbb{
    font-size: xx-large;
}
